Implement `getEncoded()` for key types

Currently `EdDSAPrivateKey` and `EdDSAPublicKey` have no `getEncoded()` implementation thus leading to a situation where keys cannot be serialized and loaded without some external serialization facility.

This may be possible by following draft proposals for [using new curves in RFC5280](https://tools.ietf.org/html/draft-josefsson-pkix-newcurves-01) which indicates [RFC 3279 section 2.3.5](https://tools.ietf.org/html/rfc3279#section-2.3.5) should be followed for these key types.

We have been working on this in https://trac.i2p2.de/ticket/1723 and I will migrate it to here once complete (we are waiting on a clarification from the RFC authors).